/* RESPONSIVIDADE PARA TABLETS */
@media screen and (max-width: 1080px) {

    header {
        height: 18rem;
        padding: 3rem 0;
    }

    .header-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        gap: 2rem;
    }


    .home main {
        max-width: 130rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* border: 1px solid red; */
    }

    nav ul {
        display: flex;
        gap: 3rem;
    }

    .qtt-label{
        margin-left: -4rem;
    }

    .container {
        margin-top: 22rem;
    }

    .text-box h2 {
        max-width: 50rem;
        margin: 0 auto;
        /* border: 1px solid red; */
    }

    .text-box p {
        font-size: 2.4rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding-right: 0;
        max-width: 65rem;
    }

    .img-box img {
        width: 45rem;
    }

    .text-box button {
        display: none;
    }

    .responsive {
        display: block;
    }

    .responsive button {
        border: none;
        background-color: #006828;
        color: #FFF6B4;
        padding: 1.3rem 3rem;
        border-radius: 100px;
        font-weight: 500;
        letter-spacing: 0.3px;
        font-size: 1.8rem;
        transition: 0.2s;
        box-shadow: 2px 2px 4px #757575;
        margin: 2rem 0;
    }

    .responsive button:active {
        background-color: rgba(0, 104, 40, 0.5);
    }

    .add-btn {
        display: none;
    }

    .meal-box:hover {
        margin-top: 0rem;
        box-shadow: 0 1rem 4rem rgb(182, 182, 182);
    }

    .add-btn-touchScreen {
        display: block;
        border: none;
        cursor: pointer;
        background-color: #006828;
        color: white;
        padding: .5rem 1rem;
        margin-top: .85rem;
        border-radius: 5px 5px 0 0;
        transition: .4s .05s;
    }
}


/* RESPONSIVIDADE PARA SMARTPHONES */
@media screen and (max-width: 450px) {
    body {
        overflow-x: hidden;
    }

    header {
        height: 8rem;
        padding: 0;
    }

    .container {
        margin-top: 12rem;
    }

    .header-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 8rem;
        gap: 0;
        position: relative;
        /* border: 1px solid red; */
    }

    .qtt-label-mobile {
        display: none;
        position: absolute;
        right: -1.2rem;
        top: .2rem;
        background-color: #E30016;
        color: white;
        border-radius: 50px;
        height: 2.4rem;
        width: 2.4rem;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .logo h1,
    .logo span {
        font-size: 3rem;
    }

    .nav-main{
        display: none;
    }

    .nav-mobile {
        position: absolute;
        background-color: rgba(0, 104, 40, 0.98);
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: .5s ease-out;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6rem;
    }

    nav a:link,
    nav a:visited {
        font-size: 2.2rem;
    }

    .mobile-nav-btn {
        position: relative;
        display: block;
        background: none;
        outline: none;
        border: none;
        color: #FFF6B4;
        font-size: 3rem;
        font-weight: 400;
        cursor: pointer;
    }

    #close-btn {
        display: none;
    }

    .home main {
        max-width: auto;
        padding: 0 1.6rem;
        /* border: 1px solid red; */
    }

    .text-box h2 {
        font-size: 5.5rem;
        max-width: 120rem;
        /* border: 1px solid red; */
    }

    .text-box p {
        display: none;
    }

    .img-box img {
        width: 90%;
        margin: 2rem 0;
        /* border: 1px solid red; */
    }

    .text-box button {
        display: none;
    }

    .responsive {
        display: block;
    }

    .responsive button {
        border: none;
        background-color: #006828;
        color: #FFF6B4;
        padding: 1.3rem 3rem;
        border-radius: 100px;
        font-weight: 500;
        letter-spacing: 0.3px;
        font-size: 1.8rem;
        transition: 0.2s;
        box-shadow: 2px 2px 4px #757575;
        margin: 2rem 0;
    }

    .title {
        font-size: 5.2rem;
    }

    .subtitle {
        font-size: 2.2rem;
    }

    .order-title {
        font-size: 5.2rem;
    }

    .order-subtitle {
        font-size: 2.2rem;
    }

    .responsive button:active {
        background-color: rgba(0, 104, 40, 0.5);
    }

    .add-btn {
        display: none;
    }

    .meal-box:hover {
        margin-top: 0rem;
        box-shadow: 0 1rem 4rem rgb(182, 182, 182);
    }

    .add-btn-touchScreen {
        display: block;
        border: none;
        cursor: pointer;
        background-color: #006828;
        color: white;
        padding: .5rem 1rem;
        margin-top: .85rem;
        border-radius: 5px 5px 0 0;
        transition: .4s .05s;
    }

    .your-order {
        max-width: auto;
        padding: 0 1rem;
    }

    .main-thead{
        display: none;
    }
    .mobile-thead{
        display: table-header-group;
    }

    .main-tr{
        display: none;
    }
    .mobile-tr{
        display: table-row;
    }

    .main-tfoot{
        display: none;
    }
    .mobile-tfoot{
        display: table-footer-group;
    }
}